.q-field__bottom {
  position: relative;
  font-size: 16px;
  margin-top: -14px;
  margin-bottom: 10px;
  padding-top: 0;
}

// テーブルのフォント修正
.q-table thead th {
  font-size: 14px;
}
.q-table tbody td {
  font-size: 16px;
}
.q-table__bottom {
  font-size: 14px;
}